.cabecalhoPrincipal .container{
    display: flex; /*display flex para posicionar os elementos um ao lado do outro*/
    align-items: center; /*Alinha os elementos no centro*/
    justify-content: space-between; /*Da um espaçamento entre eles*/
}

.cabecalhoPrincipal-nav{
    display: flex;
}

.rodapePrincipal-patrocinadores .container{
    display: flex;
    justify-content: space-between;
}

.rodapePrincipal-patrocinadores-list {
    display: flex;
    justify-content: space-around; /*Para dar um espaçamento externo no elemento*/
    align-items: center;
    width: 70%;
    margin-right: 5%;
}

.rodapePrincipal-contatoForm, .rodapePrincipal-contatoForm-fieldset{
    display: flex;
   

}

.rodapePrincipal-navMap-list{
    display: flex;
    flex-direction: column; /*com essa propriedade todo nosso display será alinhado em colunas*/
    flex-wrap: wrap; /*quando os elementos não couber no elemento pai essa propriedade irá quebra
     a linha fazendo assim uma outra coluna ao lado*/
    height: 250px;

    /*um atalho para a flex-direction e flex-wrap*/
    flex-flow: column wrap;/*substitui sem altera em nada as propriedades vistas*/
}

.conteudoPrincipal-cursos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


conteudoPrincipal-cursos-link{
    width: 23%;
}

   